@mixin arrow-navigation {
  .arrow-navigation {
    &__button {
      font-size: 20px;
      line-height: 40px;
      position: relative;
      float: left;
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: all 0.3s ease-out;
      text-align: center;
      text-indent: -999px;
      color: #515151;
      border: 1px solid #b7b7b7;
      border-radius: 50%;
      background-color: #ffffff;
      box-shadow: 0 2px 2px 0 rgba(49, 49, 93, 0.10), 0 2px 2px 0 rgba(0, 0, 0, 0.08);

      @include even {
        margin-left: 10px;
      }

      &--disabled {
        cursor: default;
        opacity: 0.75;
        box-shadow: none;
      }

      &--prev,
      &--next {
        &::after {
          font-family: dashicons;
          position: absolute;
          top: -1px;
          width: 100%;
          height: 100%;
          text-indent: 0;
        }
      }

      &--prev {
        &::after {
          right: auto;
          left: -1px;
          content: '\f341';
        }
      }

      &--next {
        &::after {
          right: -1px;
          left: auto;
          content: '\f345';
        }
      }
    }
  }
}
