@mixin buttons {
  @include btn-secondary;
  @include btn-primary;
  @include btn-normal;
}

@mixin btn-normal {
  .button-normal {
    font-size: 14px;
    line-height: normal;
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    padding: 10px 20px;
    transition: all 0.2s ease-in-out;
    vertical-align: middle;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    box-shadow: none;

    &:hover {
      color: #ffffff;
      background-color: #019cb2;
    }
  }
}

@mixin btn-primary {
  .button-primary {
    font-weight: 400;
    color: #ffffff;
    border: 1px solid #333333;
    background-color: #333333;

    &:hover {
      border-color: transparent;
    }
  }
}

@mixin btn-secondary {
  .button-secondary {
    font-weight: 600;
    color: #666666;
    border: 1px solid #666666;
    background-color: #ffffff;
  }
}
