@mixin cover-image {
  .cover-image {
    position: relative;
    height: 270px;
    margin-bottom: 10px;

    &__inline-background {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #dddddd;
      background-position: 50%;
      background-size: cover;
    }
  }
}
