@mixin css-icon {
  font-family: dashicons;
  font-weight: normal;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  pointer-events: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
