@mixin filter-control-group {
  .control-group {
    position: relative;
    display: block !important; // to prevent flash break
    margin-bottom: 5px;
    padding: 5px 15px 5px 45px;

    label {
      margin: 0;
    }

    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    .control {
      $this: '.control';
      $text-color: #333333;
      $border-color: #b7b7b7;

      &--opasity-100,
      &--opasity-90,
      &--opasity-70,
      &--opasity-50,
      &--opasity-30,
      &--opasity-0 {
        .control__indicator {
          &::before {
            position: absolute;
            top: 2px;
            left: 0;
            font-size: 22px;
          }
        }
      }

      &--opasity-100 {
        .control__indicator {
          &::before {
            content: '\f185';
            font-family: FontAwesome;
            color: darken(#dddddd, 25%);
          }
        }
      }

      &--opasity-90 {
        .control__indicator {
          &::before {
            content: '\f185';
            font-family: FontAwesome;
          }
        }
      }

      &--opasity-70 {
        .control__indicator {
          &::before {
            content: '\f042';
            font-family: FontAwesome;
            color: darken(#dddddd, 25%);
          }
        }
      }

      &--opasity-50 {
        .control__indicator {
          &::before {
            content: '\f042';
            font-family: FontAwesome;
          }
        }
      }

      &--opasity-30 {
        .control__indicator {
          &::before {
            content: '\f186';
            font-family: FontAwesome;
            color: darken(#dddddd, 25%);
          }
        }
      }

      &--opasity-0 {
        .control__indicator {
          &::before {
            content: '\f186';
            font-family: FontAwesome;
          }
        }
      }

      // Hover state
      &:hover input ~ #{$this}__text {
        color: lighten($text-color, 15%);

        &::before {
          border-color: darken($border-color, 15%);
        }
      }

      // checked state
      input:checked ~ #{$this}__text {
        color: lighten($text-color, 15%);

        &::before {
          border-color: lighten($border-color, 5%);
        }
      }

      // Hover state while checked
      &:hover input:not([disabled]):checked ~ #{$this}__text {
        color: lighten($text-color, 15%);

        &::before {
          border-color: darken($border-color, 15%);
        }
      }

      &__indicator {
        position: absolute;
        top: 5px;
        left: 10px;
        width: 24px;
        height: 24px;
      }

      &__text {
        font-size: 16px;
        font-weight: initial;
        cursor: pointer;
        color: $text-color;
        // transition: color 0.2s;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: calc(100% - 10px);
          height: 100%;
          content: '';
          // transition: border-color 0.2s;
          border: 1px solid transparent;
          border-radius: 5px;
        }
      }
    }
  }

  .filter__column--color-list {
    padding-left: 15px;

    .control-group {
      min-height: 40px;

      .control {
        padding-bottom: 25px;

        $this: '.control';
        $text-color: #333333;
        $border-color: #b7b7b7;

        // Hover state
        &:hover input ~ #{$this}__indicator {
          &::before {
            border-color: darken($border-color, 15%);
          }
        }

        // checked state
        input:checked ~ #{$this}__indicator {
          &::before {
            border-color: lighten($border-color, 5%);
          }

          &::after {
            opacity: 1;
          }
        }

        // Hover state while checked
        &:hover input:not([disabled]):checked ~ #{$this}__indicator {
          &::before {
            border-color: darken($border-color, 15%);
          }
        }

        &__indicator {
          top: 0;
          left: 0;
          width: 40px;
          height: 40px;
          cursor: pointer;

          &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 40px;
            content: '';
            // transition: border-color 0.2s;
            border: 2px solid transparent;
            border-radius: 50%;
            background-color: #dddddd;
            background-size: 50px 50px;
            background-position: 0;
          }

          &::after {
            font-size: 32px;
            top: -2px;
            left: -2px;
            width: 40px;
            height: 40px;
            content: '\f147';
            // transition: opacity 0.2s;
            text-align: center;
            opacity: 0;
            color: #ffffff;

            @include css-icon;
          }
        }

        &__text {
          overflow: hidden;
          cursor: default;
          white-space: nowrap;
          text-indent: 100%;

          &::before {
            display: none;
          }
        }
      }
    }
  }
}
