@mixin headline {
  .headline {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 0;
    background-color: #bcbcbc;

    &::after {
      display: block;
      clear: both;
      content: '';
    }

    &__title {
      font-weight: 700;
      float: left;
      margin: initial;
      padding: 10px 0;
      letter-spacing: initial;
      text-transform: uppercase;
      color: #515151;

      @include for-desktop-up {
        font-size: 22px;
      }

      @include for-tablet-landscape-up {
        font-size: 20px;
      }

      @include for-tablet-portrait-up {
        font-size: 18px;
      }

      @include for-phone-only {
        font-size: 16px;
      }
    }
  }
}
