@mixin loading-indicator {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;

  &::before {
    @include loader12($size: 10px, $color: #333333, $gap: 20px, $align: center);
  }

  &::before {
    position: absolute;
    top: -10px;
    right: 0;
    left: 0;
    content: '';
  }
}
