@mixin start-price {
  .start-price {
    font-size: 18px;
    line-height: 95px;
    width: 85px;
    height: 85px;
    text-align: center;
    color: #333333;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.7);

    &::before {
      font-size: 85%;
      font-weight: 300;
      font-style: italic;
      line-height: normal;
      position: absolute;
      top: 20px;
      left: 5px;
      content: 'от';
      white-space: nowrap;
      color: #333333;
    }
  }
}
