@mixin swap-hint {
  @include for-phone-only {
    .swap-hint {
      width: 80px;
      height: 50px;
      background-image: url(../img/swap-hand.png);
      background-repeat: no-repeat;
      background-position: 50%;

      &::before,
      &::after {
        position: absolute;
        top: -10px;
        width: 35px;
        height: 37px;
        content: '';
        opacity: 0.7;
        background-image: url(../img/swap-arrow.png);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
      }

      &::before {
        left: -12px;
        transform: rotate(270deg);
      }

      &::after {
        right: 0;
        transform: rotate(90deg);
      }
    }
  }
}
