/**
 * - nth-child sass mixins ----------------------------------------------------
 *
 * The CSS nth-child selector allows you to select a group of elements with the
 * same selectors. This is most commonly used to select the odd or even
 * elements in a group of elements with the same selectors.
 *
 * Reference: https://paulund.co.uk/nth-child-sass-mixins
 */

@mixin first-child {
  &:first-of-type {
    @content;
  }
}

@mixin last-child {
  &:last-of-type {
    @content;
  }
}

@mixin even {
  &:nth-child(even) {
    @content;
  }
}

@mixin odd {
  &:nth-child(odd) {
    @content;
  }
}

@mixin first($num) {
  @if $num == 1 {
    &:first-child {
      @content;
    }
  }

  @else {
    &:nth-child(-n + #{$num}) {
      @content;
    }
  }
}

@mixin last($num) {
   &:nth-last-child(-n + #{$num}) {
    @content;
  }
}

@mixin after($num) {
  &:nth-child(n+#{$num + 1}) {
    @content;
   }
}

@mixin from-end($num) {
  &:nth-last-child(#{$num}) {
   @content;
  }
}

@mixin between($first,$last) {
  &:nth-child(n+#{$first}):nth-child(-n+#{$last}) {
    @content;
  }
}

@mixin all-but($num) {
  &:not(:nth-child(#{$num})) {
    @content;
  }
}

@mixin each($num) {
  &:nth-child(#{$num}n) {
    @content;
  }
}

/**
 * - :enter -------------------------------------------------------------------
 *
 * :enter simplifies selectors targeting elements that are designated, as the
 * naming of :hover is somewhat misleading; it specifically means elements
 * designated with a pointing device, rather than any device.
 */

@mixin -enter {
  &:focus,
  &:hover {
    @content;
  }
}
