@charset 'UTF-8';

.titan-framework-panel-wrap {
  width: 100%;
  max-width: 1100px;

  .nav-tab-wrapper {
    border-bottom: 1px solid transparent !important;

    .nav-tab {
      margin: 0 5px -1px 0;
      border: 1px solid transparent;
    }
  }

  .form-table {
    border: 1px solid #dfdfdf;

    mark {
      padding: 0.25em;
      background-color: #ffffbb;
    }

    code {
      line-height: 20px;
      padding: 0.15em 0.25em 0.20em;

      mark {
        margin: 0 -0.25em;
      }
    }

    td {
      position: relative;

      &.tf-custom {
        .tab-description {
          font-family: Consolas, Monaco, monospace;
          line-height: 20px;
          display: inline-block;
          margin-left: -240px;
        }
      }

      &.tf-select-pages {
        .select2-container {
          min-width: 250px;
        }
      }

      &.tf-text {
        input {
          &[name='woo-feature-goods__catfeed-desc-start-price'] {
            width: 150px;
          }
        }
      }

      &.tf-textarea {
        textarea {
          &[name='woo-feature-goods__catfeed-desc-text'] {
            height: 100px;
          }
        }
      }
    }
  }
}
