/**
 * - Main file [Filter Result] ------------------------------------------------
 *
 * The main file should be the only Sass file from the whole code base not to
 * begin with an underscore. Usually this file should contain only @import and
 * comments, but in this case it's not true /heh.
 *
 * Reference: https://sass-guidelin.es/#main-file
 *
 * Used PostCSS plugins:
 * https://github.com/MattDiMu/postcss-class-patterns
 * https://github.com/pascalduez/postcss-quantity-queries
 */

@charset 'UTF-8';

@import './01-vendors/SpinThatShit/variables';
@import './01-vendors/SpinThatShit/animations';
@import './01-vendors/SpinThatShit/loaders/loader12';

@import './02-abstracts/all';
@import './03-components/all';

.filter-result-section {
  .woocommerce-products-header__title div {
    width: 100%;
    background-color: #bcbcbc;
    font-weight: 700;
    padding: 10px;
    letter-spacing: normal;
    text-transform: uppercase;
    color: #515151;
  }

  .button {
    &-normal {
      font-size: 14px;
      line-height: normal;
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      transition: all 0.2s ease-in-out;
      vertical-align: middle;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      box-shadow: none;
      width: 100%;
      text-align: center;
      margin-bottom: 60px;

      &:hover {
        background-color: #019cb2;
        box-shadow: none;
        color: #ffffff !important;
        text-decoration: none !important;
      }

      &.spin-that-shit {
        color: #ffffff !important;

        &:hover {
          color: #019cb2 !important;
        }

        &::before {
          @include loader12($size: 10px, $color: #868686, $gap: 20px, $align: center);
        }

        &::before {
          position: absolute;
          top: -7px;
          right: 0;
          left: 0;
          content: '';
        }
      }
    }

    &-secondary {
      font-weight: 600;
      color: #666666;
      border: 1px solid #666666;
      background-color: #ffffff;
    }
  } // end .button
} // end .filter-result-section
