/**
 * - Main file [Goods Filter] -------------------------------------------------
 *
 * The main file should be the only Sass file from the whole code base not to
 * begin with an underscore. Usually this file should contain only @import and
 * comments, but in this case it's not true /heh.
 *
 * Reference: https://sass-guidelin.es/#main-file
 *
 * Used PostCSS plugins:
 * https://github.com/MattDiMu/postcss-class-patterns
 * https://github.com/pascalduez/postcss-quantity-queries
 */

@charset 'UTF-8';

@import './01-vendors/all';
@import './02-abstracts/all';
@import './03-components/all';

.mobile-layout-is-active {
  overflow: hidden;
}

.woo-feature-goods {
  &.goods-filter {
    @include buttons;
    @include disable-url-styles;

    .preloader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      background-color: rgba(255, 255, 255, 0.9);

      &__wrapper {
        width: 75%;
        margin: 50px auto;
        text-align: center;
      }

      &__indicator {
        width: 100%;
        height: 30px;
        margin-bottom: 15px;
        @include loading-indicator;
      }
    }

    @include for-phone-only {
      .button {
        $this: '.button';

        &--open-mobile-layout {
          width: 100%;
          margin-bottom: 25px;
          padding: 20px;
          padding-left: 70px;
          text-align: center;

          #{$this}__text {
            display: inline-block;
            text-align: left;
          }

          &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 32px;
            height: 32px;
            margin: auto 0 auto -40px;
            content: '';
            background-image: url(../img/filter-toggles.png);
            background-size: contain;
          }
        }
      }

      .mobile-layout {
        position: fixed;
        z-index: 100;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;

        .filter {
          &__column {
            lost-utility: clearfix;
            $this: '.filter';

            &--selector-list {
              overflow-y: scroll;
              max-height: 500px;
              padding: 20px;
              lost-column: 1.4/2 2 0;

              &::-webkit-scrollbar {
                -webkit-appearance: none;
              }

              &::-webkit-scrollbar:vertical {
                width: 12px;
              }

              &::-webkit-scrollbar:horizontal {
                height: 12px;
              }

              &::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, .5);
                border-radius: 10px;
                border: 2px solid #eeeeee;
              }

              &::-webkit-scrollbar-track {
                border-radius: 10px;
                background-color: #eeeeee;
              }

              #{$this}__row {
                lost-row: 1/3 25px;
                lost-utility: clearfix;
              }

              h4 {
                font-size: 16px;
                font-weight: 400;
                text-decoration: underline;
                text-transform: uppercase;
              }

              .selector-list {
                label {
                  font-size: 14px;
                  font-weight: 400;
                  margin-bottom: 5px;
                  width: 100%;

                  input[type='radio'],
                  input[type='checkbox'] {
                    position: relative;
                    top: 2px;
                    margin-right: 10px;
                  }
                }
              }
            }

            &--control-list {
              lost-column: 0.6/2 2 0;

              .submit-section {
                .button__row {
                  width: 100%;
                  padding: 10px 5px;
                  text-align: center;
                  color: #ffffff;
                  font-size: 14px;
                  line-height: normal;
                  vertical-align: middle;
                  letter-spacing: .05em;

                  @include first-child {
                    background-color: #333333;
                  }

                  .button--mobile-submit {
                    background-color: #2c5864;
                    border-color: transparent;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;

                    .button__text {
                      height: 60px;
                      padding: 10px 5px;
                    }
                  }

                  .products-amount {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    padding: 10px 5px;
                    height: 60px;
                    margin: auto;

                    &.spin-that-shit {
                      overflow: hidden;
                      white-space: nowrap;
                      text-indent: 125%;

                      &::before {
                        @include loader12($size: 10px, $color: #868686, $gap: 20px, $align: center);
                      }

                      &::before {
                        position: absolute;
                        top: -10px;
                        right: 0;
                        left: 0;
                        content: '';
                      }
                    }
                  }
                }
              }

              .button {
                &-normal {
                  margin-bottom: 0;
                }

                &__row {
                  height: 50%;
                  display: block;
                  position: relative;
                }

                &__text {
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  height: 25px;
                  margin: auto;
                }

                &--close-mobile-layout {
                  width: 100%;
                  height: 60px;

                  &::before {
                    font-size: 52px;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 50px;
                    height: 50px;
                    margin-right: auto;
                    margin-left: auto;
                    content: '\f158';

                    @include css-icon;
                  }
                }

                &--mobile-reset {
                  width: 100%;
                  background-color: #868686;
                  text-align: center;

                  .button__text {
                    color: #ffffff;
                  }
                }
              }
            } // end &--control-list
          } // end &__column
        } // end .filter
      } // end .mobile-layout

      .desktop-layout {
        display: none;
      }
    }

    @include for-tablet-portrait-up {
      .button {
        &--open-mobile-layout {
          display: none;
        }
      }

      .mobile-layout {
        display: none;
      }

      .desktop-layout {
        position: relative;
        margin-bottom: 25px;
        border: 1px solid #b7b7b7;
        box-shadow: 0 3px 3px 0 rgba(49, 49, 93, 0.10), 0 1px 3px 0 rgba(0, 0, 0, 0.08);

        @include headline;
        @include filter-control-group;

        .headline {
          position: relative;
          margin-bottom: 0;
          text-align: center;

          $this: '.headline';

          &__title {
            float: initial;

            &::after {
              font-size: 24px;
              margin-left: 10px;
              content: '\f343';
              @include css-icon;
            }
          }

          &--filter-closed {
            #{$this}__title {
              &::after {
                content: '\f347';
              }
            }
          }
        }

        .filter {
          padding: 10px;
          background-color: #f2f2f2;
          position: relative;

          &__row {
            lost-row: 1/2 25px;
            lost-utility: clearfix;
          }

          &__column {
            overflow-y: scroll;
            max-height: 300px;
            padding-top: 10px;
            text-align: left;
            vertical-align: top;

            .filter-is-mobile & {
              &::-webkit-scrollbar {
                -webkit-appearance: none;
              }

              &::-webkit-scrollbar:vertical {
                width: 12px;
              }

              &::-webkit-scrollbar:horizontal {
                height: 12px;
              }

              &::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 10px;
              }

              &::-webkit-scrollbar-track {
                background-color: #ffffff;
                border-radius: 10px;
              }
            }

            &--category-list,
            &--opacity-list {
              lost-column: 1/3 3 10px;

              .control-group {
                .svg-icon {
                  display: block !important; // to prevent flash break
                }
              }
            }

            &--color-list {
              lost-column: 1/3 3 10px;

              .control-group {
                lost-waffle: 1/2 2 0;
              }
            }
          }

          &__footer {
            lost-center: 250px;
            text-align: center;
          }

          .products-amount {
            font-size: 14px;
            margin-bottom: 10px;
            color: #797979;

            &.spin-that-shit {
              @include loading-indicator;
            }

            &__number {
              font-size: 18px;
              font-weight: 600;
              margin-right: 2px;
              color: #a1a1a1;
            }
          }

          .button {
            &--close-filter {
              position: absolute;
              bottom: 10px;
              left: 10px;
              padding-left: 35px;
              text-transform: none;
              color: #333333;

              &:hover {
                color: inherit;
                background-color: inherit;
              }

              &::before {
                font-size: 18px;
                top: 0;
                bottom: 0;
                left: 10px;
                height: 16px;
                content: '\f342';
                @include css-icon;
              }
            }
          }
        } // end .filter
      } // end .desktop-layout
    } // end for-tablet-portrait-up

    @include for-tablet-landscape-up {
      .desktop-layout {
        .filter {
          &__column {
            &--category-list,
            &--opacity-list {
              lost-column: 0.8/3 3 10px;
            }

            &--color-list {
              lost-column: 1.4/3 3 10px;

              .control-group {
                lost-waffle: 1/5 5 5px;
              }
            }
          }
        }
      }
    }

    @include for-desktop-up {
      .desktop-layout {
        .filter {
          &__column {
            &--category-list,
            &--opacity-list {
              lost-column: 0.8/3 3 10px;
            }

            &--color-list {
              lost-column: 1.4/3 3 10px;

              .control-group {
                lost-waffle: 1/6 6 10px;
              }
            }
          }
        }
      }
    }
  } // end .goods-filter
} // end .woo-feature-goods


// - Shame CSS ----------------------------------------------------------------

.woo-feature-goods {
  &.goods-filter {

    .desktop-layout {

      .headline {
        padding-top: 0;
        padding-bottom: 0;

        &__title {
          margin-top: 0 !important;
          margin-bottom: 0 !important;

          &::after {
            top: 5px;
          }
        }

        &__link {
          &:hover {
            text-decoration: none !important;
          }
        }
      }

      .control-group {
        .control__indicator {
          top: 3px;

          &::after {
            top: 11px !important;
          }
        }
      }

      .filter__column {
        &--category-list {
          padding-right: 18px;
        }

        &--color-list,
        &--opacity-list {
          overflow: auto !important;
        }

        &--category-list,
        &--color-list,
        &--opacity-list {
          .filter-is-mobile & {
            .control-group {
              .control {

                // Hover state
                &:hover input ~ .control__text {
                  color: #333333;

                  &::before {
                    border-color: transparent;
                  }
                }

                // Hover state while checked
                &:hover input:not([disabled]):checked ~ .control__text {
                  color: lighten(#333333, 15%);

                  &::before {
                    border-color: lighten(#b7b7b7, 5%);
                  }
                }

              }
            }
          }
        }
      }

    } // end .desktop-layout

  } // end &.goods-filter
} // end .woo-feature-goods
