/**
 * - Main file [Category Feed] ------------------------------------------------
 *
 * The main file should be the only Sass file from the whole code base not to
 * begin with an underscore. Usually this file should contain only @import and
 * comments, but in this case it's not true /heh.
 *
 * Reference: https://sass-guidelin.es/#main-file
 */

@charset 'UTF-8';

@import './01-vendors/all';
@import './02-abstracts/all';
@import './03-components/all';

.woo-feature-goods {
  &.category-feed {
    position: relative;
    margin-bottom: 25px;
    padding: 0 10px 10px;
    border: 1px solid #b7b7b7;
    box-shadow: 0 3px 3px 0 rgba(49, 49, 93, 0.10), 0 1px 3px 0 rgba(0, 0, 0, 0.08);

    @include headline;
    @include arrow-navigation;

    @include cover-image;
    @include start-price;
    @include swap-hint;

    @include buttons;
    @include disable-url-styles;

    .headline {
      $this: '.headline';

      &--arrow-navigation {
        #{$this}__title {
          width: calc(100% - 100px);
        }

        .arrow-navigation {
          float: right;
        }
      }
    }

    .subtitle-backdrop {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 50px;
      background-color: #bcbcbc;
    }

    .button {
      &--category,
      &--callback {
        padding-left: 55px;
        &::before {
          top: 0;
          bottom: 0;
          @include css-icon;
        }
      }

      &--category {
        margin-right: 10px;

        &::before {
          font-size: 29px;
          left: 12px;
          height: 28px;
          content: '\f333';
        }
      }

      &--callback {
        &::before {
          font-size: 25px;
          left: 15px;
          height: 24px;
          content: '\f525';
        }
      }
    }

    .featured-slide {
      &__start-price {
        position: absolute;
        bottom: 25px;
        left: 25px;
      }

      @include for-phone-only {
        lost-column: 1 27 10px;

        .swap-hint {
          position: absolute;
          z-index: 10;
          top: 40px;
          right: 35px;
        }
      }

      @include for-tablet-portrait-up {
        lost-column: 1/2 27 10px;

        &__row {
          display: block;
          width: 100%;

          @include even {
            margin-bottom: 10px;
          }

          & > p {
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            text-align: justify;
            color: #333333;
          }
        }
      }

      @include for-tablet-landscape-up {
        lost-column: 2/3 27 10px;
      }

      &--quadra-layout {
        lost-column: 2/4 27 10px;
      }
    } // end .featured-slide

    .product-slide {
      $this: '.product-slide';

      @include for-phone-only {
        lost-column: 1 27 10px;
      }

      @include for-tablet-portrait-up {
        lost-column: 1/2 27 10px;
      }

      @include for-tablet-landscape-up {
        lost-column: 1/3 27 10px;
      }

      &--quadra-layout {
        lost-column: 1/4 27 10px;
      }

      .product {
        width: 100%;
        margin: 0;

        .wp-post-image {
          width: 100%;
        }
      }

      &--last-slide {
        .cover-image {
          text-align: center;
          border: 2px solid #d7d7d7;
          background-color: #eeeeee;
          background-position: 50%;
          background-size: cover;

          &--has-background {
            border: none;
          }

          &__url {
            display: block;
            width: 100%;
            height: 100%;
            box-shadow: none;
          }

          .svg-icon {
            width: 65px;
            margin: 0 auto;
            padding: 80px 0 10px;

            & > svg {
              width: 100%;
            }
          }
        }

        #{$this}__title {
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.01em;
          text-transform: uppercase;
          color: #333333;
        }

        #{$this}__row {
          display: block;
          width: 100%;
        }

        .button-normal {
          float: left;
          clear: both;

          @include even {
            margin-top: 5px;
            margin-left: 0;
          }
        }
      } // end &--last-slide
    } // end .product-slide
  } // end .category-feed
} // end .woo-feature-goods


// - Shame CSS ----------------------------------------------------------------

.woo-feature-goods {
  &.category-feed {
    padding-bottom: 0;

    h5 {
      margin: 0 !important;
    }

    .shop-products {
      padding: 0;
    }

    .ma-box-content {
      margin-top: -2px !important;
    }

    .vgwc-image-block {
      img {
        width: 100%;
      }
    }

    .featured-slide__start-price {
      bottom: 50px !important;

      &::before {
        left: 11px !important;
      }
    }

    .cover-image {
      overflow: hidden;

      @include for-phone-only {
        margin-bottom: 30px !important;
      }

      @include for-tablet-portrait-up {
        margin-bottom: 40px !important;
      }

      @include for-tablet-landscape-up {
        margin-bottom: 50px !important;
      }

      a {
        box-shadow: none;

        &:hover {
          text-decoration: none !important;
          box-shadow: none;
        }
      }
    }

    .featured-slide__desc {
      p {
        margin: 0;
      }
    }

    .button-primary {
      color: #ffffff !important;

      &:hover {
        text-decoration: none !important;
      }
    }

    .button-secondary {
      color: #666666 !important;

      &:hover {
        color: #ffffff !important;
        text-decoration: none !important;
      }
    }
  } // end &.category-feed
} // end .woo-feature-goods
