.woo-feature-goods {
  &.goods-filter {
    .desktop-layout {
      .filter__column--color-list {

        .control--white {
          .control__indicator {
            &::before {
              background-color: #ffffff;
              background-image: linear-gradient(darken(#ffffff, 15%), darken(#ffffff, 25%));
            }
          }
        }

        .control--bezhevyj {
          .control__indicator {
            &::before {
              background-color: #f2dea8;
              background-image: linear-gradient(#f2dea8, darken(#f2dea8, 15%));
            }
          }
        }

        .control--seryj {
          .control__indicator {
            &::before {
              background-color: #bdc3c7;
              background-image: linear-gradient(#bdc3c7, darken(#bdc3c7, 15%));
            }
          }
        }

        .control--chernyj {
          .control__indicator {
            &::before {
              background-color: #212121;
              background-image: linear-gradient(#212121, lighten(#212121, 35%));
            }
          }
        }

        .control--blue {
          .control__indicator {
            &::before {
              background-color: #0b409c;
              background-image: linear-gradient(#0b409c, lighten(#0b409c, 25%));
            }
          }
        }

        .control--goluboj {
          .control__indicator {
            &::before {
              background-color: #a9d2ff;
              background-image: linear-gradient(#a9d2ff, darken(#a9d2ff, 15%));
            }
          }
        }

        .control--zelenyj {
          .control__indicator {
            &::before {
              background-color: #2aaf74;
              background-image: linear-gradient(#2aaf74, lighten(#2aaf74, 15%));
            }
          }
        }

        .control--brown {
          .control__indicator {
            &::before {
              background-color: #9e7e44;
              background-image: linear-gradient(#9e7e44, lighten(#9e7e44, 15%));
            }
          }
        }

        .control--red {
          .control__indicator {
            &::before {
              background-color: #fd5959;
              background-image: linear-gradient(#fd5959, lighten(#fd5959, 15%));
            }
          }
        }

        .control--pink {
          .control__indicator {
            &::before {
              background-color: #ec729c;
              background-image: linear-gradient(#ec729c, lighten(#ec729c, 15%));
            }
          }
        }

        .control--yellow {
          .control__indicator {
            &::before {
              background-color: #ffe869;
              background-image: linear-gradient(#ffe869, lighten(#ffe869, 15%));
            }
          }
        }

        .control--oranzhevyj {
          .control__indicator {
            &::before {
              background-color: #ea9215;
              background-image: linear-gradient(#ea9215, lighten(#ea9215, 15%));
            }
          }
        }

        .control--fioletovyj {
          .control__indicator {
            &::before {
              background-color: #574b90;
              background-image: linear-gradient(#574b90, lighten(#574b90, 15%));
            }
          }
        }

        .control--wood {
          .control__indicator {
            &::before {
              background-color: #e6d3a7;
              background-image: linear-gradient(#e6d3a7, darken(#e6d3a7, 15%));
            }
          }
        }

        .control--metallik {
          .control__indicator {
            &::before {
              background-color: #506e86;
              background-image: linear-gradient(#506e86, lighten(#506e86, 15%));
            }
          }
        }

        .control--serebro {
          .control__indicator {
            &::before {
              background-color: #bcd3c2;
              background-image: linear-gradient(#bcd3c2, darkne(#bcd3c2, 5%));
            }
          }
        }

        .control--zoloto {
          .control__indicator {
            &::before {
              background-color: #d9b650;
              background-image: linear-gradient(#d9b650, darken(#d9b650, 15%));
            }
          }
        }

        // add your styles here ...

      } // end .filter__column--color-list
    } // end .desktop-layout
  } // end &.goods-filter
} // end .woo-feature-goods
